/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Montserrat:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --bs-border-color: #242331 !important;
}

a {
  text-decoration-color: #357266 !important;
}

html body {
  background-color: #FFFAF0;
  color: #242331;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  --bs-body-font-family: Montserrat;
}

#landing-page.container-fluid {
  --bs-gutter-x: 0;
  background-image: url("/images/map.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 25px;
}

.navbar-nav .nav-link {
  color: #242331;
}

.btn-outline-dark {
  --bs-btn-color: #242331;
  --bs-btn-border-color: #242331;
  --bs-btn-hover-color: #FFFAF0;
  --bs-btn-hover-bg: #242331;
  --bs-btn-hover-border-color: #242331;
}

.custom-circle {
  width: 60px;
  height: 60px;
  background-color: #357266;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.custom-icons {
  color: #FFFAF0;
  height: 35px;
  width: 35px;
}

#border {
  border: 2px solid #242331 !important;
  border-radius: 5px;
  height: 185px;
}

#landing-header {
  color: #357266;
  font-weight: 700;
}

  /* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

#landing-text {
  font-size: 5em;
  font-weight: bold;
  color: #357266;
}

#ani-text {
  font-size: 2em;
}
#signInPage {
  background: rgb(36, 35, 49);
  background: linear-gradient(0deg, rgba(36, 35, 49, 1) 0%, rgba(53, 114, 102, 1) 41%);
  font-family: 'Montserrat', sans-serif;
}
#signUpPage {
  background: rgb(36, 35, 49);
  background: linear-gradient(0deg, rgba(36, 35, 49, 1) 0%, rgba(53, 114, 102, 1) 41%);
  font-family: 'Montserrat', sans-serif;
}

#color-block.container-fluid {
  background-color: #357266;
}

.navbar-content {
  background-color: #847577 !important;
}
.footer-social-icons a {
  padding: 2px;
  margin: 4px;
  color: #ECECEC;
}

.footer-content {
  color: #D3D3D3 !important;
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer-content.bg-light {
  color: #333;
}

.footer-content.bg-dark.text-light .footer-link {
  color: #ECECEC;
}
